html, body {
	
	min-width: 400px;
	margin: 0;
    height: 100%;
 	color: white;
	
	background-color: black;
	font-family: "Arial Black", Gadget, sans-serif;
	cursor : default;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}




ul{
	list-style-type: none;
	width: 90%;
}
li {


}
#canvas {
	
	position: relative;
	border: solid;
	border-color: white;
}

#divcanvas {
	position: absolute;
	left: 35%;
	top: 5%;
}


#contrButWrapper {
	display: table;
	position: absolute;
	float: left;
	top: 10%;
	left: 10px;
	width: 30%;
	/*height: 50%;*/
	/*max-width:800px;*/
	text-align: center;
	vertical-align: middle;
}
.controlButtons {
	display: table-cell;
	position: relative;
	vertical-align: middle;
	color: black;
	width: 46%;
	margin: 0 auto;
}

.generate {
	clear: left;
	display: table-row;
	position: relative;
	margin: 0 auto;
	color: black;
	background-color: white;

	width: 100%;
	height: 10%;
	border: 5px solid black;
}


#controls, #help {
	text-align: center;
	width: 30%;

}

#controls tr, #controls  td,
#help tr, #help  td {
	
	font-size: 110%;
	height: 10%;
	border: 2px solid black;
	-webkit-transition: border 0.5s; /*HIGH CPU USAGE! */
	transform: translate3d(0, 0, 0); /*high CPU usage solving(still not fixed although)*/
	
}

#help {
	
	position: absolute;
	text-align: center;
	bottom : 5%;
	left: 10px;
	border: 1px solid rgba(0, 0, 0, 0);
	-webkit-transition: border 0.5s;
	transform: translate3d(0, 0, 0);
	/*z-index: 10;*/
	
}

#start:hover,
#reset:hover, #generate:hover, #followHeavy:hover {
	border: 8px solid white;
}
#help:hover{
	border: 6px solid white;
}

.info {
	position: absolute;
	top: 30%;
	width: 30%;
}

.drop {
	/*position: absolute;*/
    /*display: inline-block;
    bottom : 20px;
	left: 10px;
	width: 30%;*/
}

.dropContent{
	color: white;
	width: 30%;
	font-size: 0.9vw;
	display: block;
	position: absolute;
	top: 65%;
	left: 1%;
	opacity: 0;
	transition: all 0.5s;
	-moz-transition:all 0.5s; /* Firefox 4 */
    -webkit-transition:all 0.5s; /* Safari and Chrome */
    z-index: 0;
}



.show {
	opacity: 1;
	top: 45%;
	display:block;
	position: absolute;
}

.hide{
	opacity: 0;
	top: 65%;
	display:block;
	position: absolute;
}
